.DS_Store
ctl-led.sh
ledoff_shutdown.app/
ledoff_shutdown.sh
DerivedData/
.build/
dist/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
